$color-cycling-dark: #dd6da2;
$color-cycling-light: #ffb9da;
$cycling-gradient: linear-gradient(to right, #ff97c8, #ffb9da);
$color-running-dark: #49a2b0;
$color-running-light: #bdeaf1;
$running-gradient: linear-gradient(to right, #62d4e6, #bdeaf1);
